
.foto-perfil {
  width: 150px;
  height: 150px;
  border-radius: 50%;            
  object-fit: cover;             /* Ajusta la imagen del perfil */
  border: 3px solid #007bff;     
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  background-color: #f0f0f0;     
}

.profile-username {
  font-weight: 600;
  font-size: 1.5rem;
  color: #0d6efd;
}

.profile-info p {
  margin-bottom: 0.4rem;
  font-size: 0.95rem;
}

.btn {
  background-color: #0d6efd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  min-width: 180px;
  text-align: center;
}
.card-header {
  position: relative;
}
.cambiar-foto {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #0d6efd;
  border-radius: 50%;
  padding: 0.6rem;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cambiar-foto:hover {
  opacity: 1;
  transform: scale(1.1);
}

.cambiar-foto i {
  font-size: 1.2rem;
  border-radius: 50%;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  position: fixed;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
  visibility: hidden; 
  z-index: 1000;             
}



.modal-trigger{
  background-color: #0d6efd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  min-width: 180px;
  text-align: center;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;               
  max-width: 400px;
  width: 90%;
  text-align: center;           
  z-index: 1000;                
}

.modal-content button {
  border-radius: 10px;
}

 /* Editar perfil HTML */
.fondo{
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.form-editar-perfil{
  width: 30rem;
  max-width: 500px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.form-contenedor h2{
  font-size: large;
  font-weight: bold;
}

.cancelar{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  min-width: 180px;
  text-align: center;
}
