.fondo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px);
  
}
.formulario {
  width: 32rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.form-title {
  font-size: large;
  font-weight: bold;
}
.invalido{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px);
  padding: 2rem;
}
.invalido div{
 background-color: #fff;
 width: 32rem;
}