<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <div th:fragment="notificaciones">
   <li class="nav-item dropdown me-3">
  <a class="nav-link position-relative" href="#" id="notificationsDropdown" role="button"
     data-bs-toggle="dropdown" aria-expanded="false" onclick="cargarNotificaciones()">
    <i class="bi bi-bell fs-5"></i>
    <span id="badge-notif" class="badge rounded-pill" th:text="${cantidadNotificaciones}">0</span>
  </a>

  <ul id="notifDropdown" class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="notificationsDropdown" style="width: 470px;">
     <li class="dropdown-header">Notificaciones</li>
     <li id="notif-list" class="px-2">
     </li>
     <li><hr class="dropdown-divider"></li>
     <li class="text-center"><a href="/notificaciones/todas">Ver todas</a></li>
  </ul>
</li>
<script type="module" th:src="@{/js/notificaciones.js}"></script>
</div>
</body>
</html>

