<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/estadisticas.css}">
    <title>Estadisticas</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <main>
<div class="container-graficos">
<h2 class="text-center font-weight-bold mb-3" style="color: #2336e7;">Estadísticas</h2>
<hr>


<div class="dashboard-container">
<div class="card-grafico">
<h4 class="text-center mb-3">Estado de cotizaciones</h4>
<div class="grafico" id="grafico_cotizaciones"></div>
</div>


<div class="card-grafico">
<h4 class="text-center mb-3">Comparación general</h4>
<div class="grafico" id="grafico_comparacion"></div>
</div>


<div class="card-grafico">
<h4 class="text-center mb-3">Tus productos más cotizados</h4>
<div class="grafico" id="grafico_productos"></div>
</div>


<div class="card-grafico">
<h4 class="text-center mb-3">Productos más cotizados de Ventanet</h4>
<div class="grafico" id="grafico_todos_productos_mas_cotizados"></div>
</div>
</div>
</div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
<script th:inline="javascript">
    window.estadisticasData = /*[[${estadisticas}]]*/ {};
</script>
<script th:inline="javascript">
    window.promedioData = /*[[${promedioGeneralComparacion}]]*/ {};
</script>
<script th:inline="javascript">
    window.productosMasCotizadosData = /*[[${productosMasCotizados}]]*/ {};
    window.productosMasCotizadosDeTodosLosProveedoresData = /*[[${productosMasCotizadosDeTodosLosProveedores}]]*/ {};
</script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script type="module" th:src="@{/js/estadisticas.js}"></script>
</body>
</html>