<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Ventanet - Alta de Producto</title>

  <!-- Bootstrap core css -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" th:href="@{/css/producto.css}" />
</head>

<body>

  <!-- ===== HEADER ===== -->
  <header>
    <!-- Logo -->
    <a href="#" class="navbar-brand">Ventanet</a>

    <!-- Menú derecho -->
    <ul class="nav">
      <!-- Campana de notificaciones con dropdown -->
      <li class="nav-item dropdown me-3">
        <a class="nav-link position-relative" href="#" id="notificationsDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-bell fs-5"></i>
          <span class="badge rounded-pill">3</span>
        </a>

        <!-- Dropdown de notificaciones -->
        <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="notificationsDropdown"
          style="width: 470px;">
          <li class="dropdown-item d-flex align-items-start">
            <i class="bi bi-bell me-2 text-secondary"></i>
            <span>Tienes 3 nuevas solicitudes de cotización pendientes</span>
          </li>
          <li class="dropdown-item d-flex align-items-start">
            <i class="bi bi-bell me-2 text-secondary"></i>
            <span>Tu cotización #145 fue aceptada</span>
          </li>
          <li class="dropdown-item d-flex align-items-start">
            <i class="bi bi-bell me-2 text-secondary"></i>
            <span>El valor del dólar se actualizó a 83,9</span>
          </li>
          <li class="dropdown-item d-flex align-items-start">
            <i class="bi bi-bell me-2 text-secondary"></i>
            <span>Error en la importación: 2 productos no se cargaron correctamente</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item text-center text-primary fw-bold" href="#">Ver todas</a>
          </li>
        </ul>
      </li>

      <!-- Usuario con dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://via.placeholder.com/30" class="rounded-circle me-2" alt="User">
          <span th:text="${mailProveedor}">Proveedor</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
          <li><a class="dropdown-item" href="#">Perfil</a></li>
          <li><a class="dropdown-item" href="#">Configuración</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <form th:action="@{/logout}" method="get" class="m-0">
              <button type="submit" class="dropdown-item">Cerrar sesión</button>
            </form>
          </li>
        </ul>
      </li>
    </ul>
  </header>


  <div class="main-container">
    <!-- ===== SIDEBAR ===== -->
    <!-- <aside id="sidebar" class="d-flex flex-column position-relative">
      <button class="toggle-btn" onclick="toggleSidebar()"><i class="bi bi-list"></i></button>
      <ul class="nav flex-column mt-4">       
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="bi bi-house"></i><span>Dashboard</span>
          </a>
        </li>        
        <li class="nav-item">
          <a class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
            href="#submenuMateriales" role="button" aria-expanded="false" aria-controls="submenuMateriales">
            <span><i class="bi bi-journal-text me-2"></i>Materiales</span>
            <i class="bi bi-chevron-down"></i>
          </a>
          <div class="collapse ps-4" id="submenuMateriales">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a th:href="@{/producto/nuevo-producto}" class="nav-link">Alta manual</a>
              </li>             
              <li class="nav-item">
                <a th:href="@{/producto/listado}" class="nav-link">Listado de materiales</a>
              </li>
            </ul>
          </div>
        </li>
        </ul>
    </aside> -->
    <div th:replace="sidebar :: sidebar"></div>

    <!-- ===== MAIN CONTENT ===== -->
    <main>
      <div class="form-card">
        <form action="#" th:action="@{/producto/crear}" method="POST" th:object="${producto}"
          enctype="multipart/form-data">
          <h3>Nuevo Producto</h3>

          <!-- Nombre -->
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input th:field="*{nombre}" id="nombre" class="form-control" required />
          </div>

          <!-- Precio -->
          <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input th:field="*{precio}" id="precio" type="number" step="0.01" min="0" class="form-control" required />
          </div>

          <!-- Descripción -->
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea th:field="*{descripcion}" id="descripcion" class="form-control" rows="3"></textarea>
          </div>

          <!-- Imagen (archivo) -->
          <div class="mb-3">
            <label for="imagenFile" class="form-label">Imagen del Producto</label>
            <input id="imagenFile" name="imagenFile" type="file" class="form-control" accept="image/*" />
          </div>

          <!-- Stock -->
          <div class="mb-3">
            <label for="stock" class="form-label">Stock</label>
            <input th:field="*{stock}" id="stock" type="number" min="0" class="form-control" required />
          </div>

          <!-- Tipo de Producto -->
          <div class="mb-3">
            <label for="tipo_producto_id" class="form-label">Tipo de Producto</label>
            <select th:field="*{tipoProducto.id}" id="tipo_producto_id" class="form-select">
              <option value="">Seleccione...</option>v
              <option th:each="tipo : ${tiposProducto}" th:value="${tipo.id}" th:text="${tipo.nombre}"></option>
            </select>
          </div>

          <!-- Marca -->
          <div class="mb-3">
            <label for="marca_id" class="form-label">Marca</label>
            <select th:field="*{marca.id}" id="marca_id" class="form-select">
              <option value="">Seleccione...</option>
              <option th:each="marca : ${marcas}" th:value="${marca.id}" th:text="${marca.nombre}"></option>
            </select>
          </div>

          <!-- Presentación -->
          <div class="mb-3">
            <label for="presentacion_id" class="form-label">Presentación</label>
            <select th:field="*{presentacion.id}" id="presentacion_id" class="form-select">
              <option value="">Seleccione...</option>
              <option th:each="pres : ${presentaciones}" th:value="${pres.id}" th:text="${pres.descripcion}"></option>
            </select>
          </div>

          <!-- Tipo de Ventana -->
          <div class="mb-3">
            <label for="tipo_ventana_id" class="form-label">Tipo de Ventana</label>
            <select th:field="*{tipoVentana.id}" id="tipo_ventana_id" class="form-select">
              <option value="">Seleccione...</option>
              <option value="1">Corrediza</option>
              <option value="2">Oscilobatiente</option>
              <option value="3">Paño fijo</option>
              <option value="4">Abatible</option>
              <option value="5">Plegable</option>
            </select>
          </div>

          <!-- Ancho -->
          <div class="mb-3">
            <label for="ancho_id" class="form-label">Ancho</label>
            <select th:field="*{ancho.id}" id="ancho_id" class="form-select">
              <option value="">Seleccione...</option>
              <option value="1">0.5 m</option>
              <option value="2">0.6 m</option>
              <option value="3">0.7 m</option>
              <option value="4">0.8 m</option>
              <option value="5">0.9 m</option>
              <option value="6">1.0 m</option>
              <option value="7">1.2 m</option>
              <option value="8">1.3 m</option>
              <option value="9">1.4 m</option>
              <option value="10">1.5 m</option>
              <option value="11">1.6 m</option>
              <option value="12">1.7 m</option>
              <option value="13">1.8 m</option>
              <option value="14">1.9 m</option>
              <option value="15">2.0 m</option>
              <option value="16">2.2 m</option>
              <option value="17">2.3 m</option>
              <option value="18">2.4 m</option>
              <option value="19">2.5 m</option>
              <option value="20">2.6 m</option>
              <option value="21">2.7 m</option>
              <option value="19">2.8 m</option>
              <option value="20">2.9 m</option>
            </select>
          </div>

          <!-- Alto -->
          <div class="mb-3">
            <label for="alto_id" class="form-label">Alto</label>
            <select th:field="*{alto.id}" id="alto_id" class="form-select">
              <option value="">Seleccione...</option>
              <option value="1">0.5 m</option>
              <option value="2">0.6 m</option>
              <option value="3">0.7 m</option>
              <option value="4">0.8 m</option>
              <option value="5">0.9 m</option>
              <option value="6">1.0 m</option>
              <option value="7">1.2 m</option>
              <option value="8">1.3 m</option>
              <option value="9">1.4 m</option>
              <option value="10">1.5 m</option>
              <option value="11">1.6 m</option>
              <option value="12">1.7 m</option>
              <option value="13">1.8 m</option>
              <option value="14">1.9 m</option>
              <option value="15">2.0 m</option>
              <option value="16">2.2 m</option>
              <option value="17">2.3 m</option>
              <option value="18">2.4 m</option>
              <option value="19">2.5 m</option>
              <option value="20">2.6 m</option>
              <option value="21">2.7 m</option>
              <option value="19">2.8 m</option>
              <option value="20">2.9 m</option>
            </select>
          </div>

          <!-- Material de perfil -->
          <div class="mb-3">
            <label for="material_perfil_id" class="form-label">Material de Perfil</label>
            <select th:field="*{materialDePerfil.id}" id="material_perfil_id" class="form-select">
              <option value="">Seleccione...</option>
              <option value="1">Aluminio</option>
              <option value="2">PVC</option>
              <option value="3">Madera</option>
            </select>
          </div>

          <!-- Tipo de Vidrio -->
          <div class="mb-3">
            <label for="tipo_vidrio_id" class="form-label">Tipo de Vidrio</label>
            <select th:field="*{tipoDeVidrio.id}" id="tipo_vidrio_id" class="form-select">
              <option value="">Seleccione...</option>
              <option value="1">Simple</option>
              <option value="2">Doble</option>
              <option value="3">Laminado</option>
              <option value="4">Templado</option>
            </select>
          </div>

          <!-- Color -->
          <div class="mb-3">
            <label for="color_id" class="form-label">Tipo de Vidrio</label>
            <select th:field="*{color.id}" id="color_id" class="form-select">
              <option value="">Seleccione...</option>
              <option value="1">Blanco</option>
              <option value="2">Gris</option>
              <option value="3">Marrón</option>
              <option value="4">Negro</option>
            </select>
          </div>

          <!-- Botones -->
          <div class="d-flex justify-content-between">
            <button id="btn-crear" class="btn btn-submit" type="submit" disabled>Crear Producto</button>
          </div>

          <!-- Mensajes de error -->
          <p th:if="${error != null}" class="alert alert-danger mt-3" th:text="'Error: ' + ${error}"></p>
        </form>
      </div>
    </main>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script type="module" th:src="@{/js/producto.js}"></script>
  <script>
    function toggleSidebar() {
      document.getElementById("sidebar").classList.toggle("collapsed");
    }
  </script>
</body>

</html>