<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link rel="stylesheet" th:href="@{/css/perfil-usuario.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <title>Perfil de Proveedor</title>
</head>
<div th:replace="fragments/header :: header"></div>
<body>
<main>
<div th:replace="perfil-usuario :: perfil-base(~{::contenido-extra})">
    <div th:fragment="contenido-extra">
        <hr>
        <h3>Información del proveedor</h3>
        <p><strong>Razón Social: </strong><span th:text="${usuario.razonSocial}"></span></p>
        <p><strong>CUIT: </strong><span th:text="${usuario.cuit}"></span></p>
        <p><strong>Rubro: </strong><span th:text="${usuario.rubro}"></span></p>
        <p><strong>Sitio Web: </strong><a th:href="${usuario.sitioWeb}" th:text="${usuario.sitioWeb}"></a></p>
        <p><strong>Ubicación: </strong><span th:text="${usuario.ubicacion}"></span></p>
        <!-- <p>Documento: <a th:href="@{${usuario.documento}}" target="_blank">Ver documento</a></p> -->
    </div>
</div>
</main>

<article>
    <div class="graficos">
        <h2>Estadisticas</h2>
        <div class="dashboard-container">
            <div class="card">
                <h4 class="text-center">Estado de cotizaciones</h4>
                <div th:if="${estadisticas != null}" id="grafico_cotizaciones" style="height: 400px;"></div>
                <p class="text-info mt-3" th:if="${graficoVacio}" th:text="${graficoVacio}"></p>
            </div>
            <div class="dashboard-container">
                <div class="card">
                    <h4 class="text-center">Comparacion general</h4>
                    <div th:if="${promedioGeneralComparacion != null}" id="grafico_comparacion" style="height: 400px;"></div>
                </div>
            </div>
            <div class="dashboard-container">
                <div class="card">
                    <h4 class="text-center">Productos más cotizados</h4>
                    <div  id="grafico_productos" style="height: 400px;"></div>
                    <p class="text-info mt-3" th:if="${graficoVacio}" th:text="${graficoVacio}"></p>
                </div>
            </div>
        </div>
    </div> 
</article>
</body>
<script th:inline="javascript">
    window.estadisticasData = /*[[${estadisticas}]]*/ {};
</script>
<script th:inline="javascript">
    window.promedioData = /*[[${promedioGeneralComparacion}]]*/ {};
</script>
<script th:inline="javascript">
    window.productosMasCotizadosData = /*[[${productosMasCotizados}]]*/ {};
</script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script type="module" th:src="@{/js/perfil.js}"></script>
</html>