<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />
    <title>Recuperar Password</title>
</head>
<body>
    <header class="site-header">
        <div class="header-inner">
            <a th:href="@{/}" class="logo">
                <span class="brand">VENTANET</span>
            </a>
        </div>
    </header>

    <main class="container mt-4">
        <p>Recuperar cuenta</p>
        
        <!-- FORMULARIO CORRECTO -->
        <form th:action="@{/recuperar-password}" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Introduce tu correo electrónico para buscar tu cuenta.</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Correo electrónico">
                <p class="text-danger mt-3" th:if="${email_vacio != null}" th:text="${email_vacio}"></p>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Enviar</button>
                <a th:href="@{ / }" class="btn btn-secondary">Cancelar</a>
            </div>
                <p class="text-danger mt-3" th:if="${usuario_no_existe}" th:text="${usuario_no_existe_mensaje}"></p>
                <p class="text-success" th:if="${operacion_exitosa}" th:text="${operacion_exitosa_mensaje}"></p>
                <p class="text-danger mt-3" th:if="${error !=null}" th:text="${error}"></p>
        </form>
    </main>
</body>
</html>
