<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />

     <link rel="stylesheet" th:href="@{/css/main.css}"/>
     <link rel="stylesheet" th:href="@{/css/recuperarPassword.css}"/>
    <title>Recuperar Password</title>
</head>
<body>
   <!-- NAVBAR -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">Ventanet</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#productos">Productos</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/login}">Ingreso</a></li>
        <li class="nav-item"><a class="nav-link" href="nuevo-usuario.html">Registro</a></li>
      </ul>
    </div>
  </div>
</nav>

    <main class="fondo">
        <div class="formulario">
        <p class="form-title mb-3 mt-2 text-center fs-5">Recuperar cuenta</p>
        
        <form th:action="@{/recuperar-password}" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Introduce tu correo electrónico para buscar tu cuenta.</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Correo electrónico">
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Enviar</button>
                <a th:href="@{ / }" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
            <p class="text-danger mt-3" th:if="${email_vacio != null}" th:text="${email_vacio}"></p>
            <p class="text-danger mt-3" th:if="${usuario_no_existe}" th:text="${usuario_no_existe}"></p>
            <p class="text-success mt-3" th:if="${operacion_exitosa}" th:text="${operacion_exitosa}"></p>
            <p class="text-danger mt-3" th:if="${error !=null}" th:text="${error}"></p>
    </main>
        </div>
</body>
</html>
