<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />

     <link rel="stylesheet" th:href="@{/css/main.css}"/>
     <link rel="stylesheet" th:href="@{/css/recuperarPassword.css}"/>
    <title>Recuperar Password</title>
</head>
<body>
   <!-- NAVBAR -->
<div th:replace="fragments/header :: header"></div>

    <main class="fondo">
        <div class="formulario">
        <p class="form-title mb-3 mt-2 text-center fs-5">Recuperar cuenta</p>
        
        <form th:action="@{/recuperar-password}" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Introduce tu correo electrónico para buscar tu cuenta.</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Correo electrónico">
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Enviar</button>
                <a th:href="@{ / }" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
            <p class="text-danger mt-3" th:if="${email_vacio != null}" th:text="${email_vacio}"></p>
            <p class="text-danger mt-3" th:if="${usuario_no_existe}" th:text="${usuario_no_existe}"></p>
            <p class="text-success mt-3" th:if="${operacion_exitosa}" th:text="${operacion_exitosa}"></p>
            <p class="text-danger mt-3" th:if="${error !=null}" th:text="${error}"></p>
    </main>
        </div>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
