<!-- sidebar-admin.html -->
<nav th:fragment="sidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-primary text-white vh-100" style="width: 220px;">
    <a th:href="@{/home}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">Ventanet</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a th:href="@{/admin/dashboard-admin}" class="nav-link text-white fw-bold">
                <i class="bi bi-speedometer2 me-2"></i> Dashboard
            </a>
        </li>
        <li>
            <a th:href="@{/admin/proveedores-pendientes}" class="nav-link text-white fw-bold">
                <i class="bi bi-people me-2"></i> Proveedores pendientes
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle me-2"></i>
            <strong th:text="${mailAdmin}">Admin</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li>
                <form th:action="@{/logout}" method="get">
                    <button type="submit" class="dropdown-item fw-bold">Cerrar sesión</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
