<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/recuperarPassword.css}"/>
    <title>Token Invalido</title>
</head>
<body>
     <!-- NAVBAR -->
<div th:replace="fragments/header :: header"></div>
<main>
<div class="invalido border border-light-subtle p-4">
    <div class="p-3 border border-warning">
        <h1 class="mt-2 mb-1 text-center fs-5">Token Invalido</h1>
        <p class="mb-3 text-center fs-5">Lo sentimos! Este enlace a expirado o ya a sido utilizado</p>
    </div>
    
</div>
</main>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
</body>
</html>